doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/waaant.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic')
  body
    div(id='page')
      block content

    if env == 'development'
      script(data-main="/javascripts/config.js" src='/javascripts/vendor/requirejs/require.js')
      script(src='/javascripts/waaant.js')
    else
      script(src='/build/waaant.min.js')
