doctype html
html
  head
    title= title
    script(data-main="/javascripts/config.js" src='/javascripts/vendor/requirejs/require.js')
    script(type="text/javascript").
      require(['app/router'], function (AppRouter) {
        window.WNT = new AppRouter();
        Backbone.history.start({pushState: true});
      });

    link(rel='stylesheet', href='/stylesheets/less.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic')
  body
    div(id='page')
      block content
