@import "../variables.less";

.header {
  width: 100%;
  line-height: 60px;
  height: 60px;
  border-bottom: 1px solid @std-clr;

  &__logo {
    line-height: 40px;
    display: inline-block;

    &__img {
      vertical-align: top;
    }
  }
}
