@import url("../variables.less");

.header {
  width: 100%;
  text-align: center;
  // margin: 50px 0;
  padding: 50px 0;
  max-height: 270px;
  transition: max-height .3s;
  position: relative;
  z-index: -1;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
    background-image: none;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -196px;
    left: 0px;
  }

  &__caption__wrapper {
    margin-top: 50px;
  }

  &__caption {
    font-family: 'Roboto Slab', serif;
    color: @std-black;
    text-shadow: 1px 1px 0px @std-white;
  }

  &__caption2 {
    color: @std-black;
    text-shadow: 0.5px 0.5px 0 @std-white;
    margin-bottom: 0;
  }

  &__logo {
    line-height: 40px;
    display: inline-block;

    &__img {
      vertical-align: top;
    }
  }
}
