@import "../variables.less";

.search-block {
  position: relative;

  // background-image: url(/images/landing.jpg);
  // background-position: center center;
  // background-size: cover;
  width: 100%;
  // height: 370px;
  background: rgba(255,255,255,.5);
  border-bottom: 1px solid @std-clr;
  transition: background 0.2s;

  &-active {
    background: rgba(255,255,255,1);
  }

  &__input-wrapper {
    // position: absolute;
    // left: 0;
    // right: 0;
    // bottom: 65px;

    &__input {
      margin: 30px 0;

      // border-radius: 40px;
      .btn {
        border-color: @std-clr;
      }

      .btn {
        color: @gray-base;
        background: none;
      }
      // margin: 30px 100px 30px 0;
      // display: inline-block;
    }

    &__submit {
      display: inline-block;
      width: 90px;
    }
  }
}

