@import url("../../javascripts/vendor/skeleton/css/normalize.css");
@import url("../../javascripts/vendor/skeleton/css/skeleton.css");
@import url("./loader.less");
@import url("./variables.less");

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  font-weight: 300;
  background-color: #ccc;
}
button:active:focus {
  outline: none;
  transform: translate3d(0, 1px, 0);
}

a, a:hover {
  color: @std-black;
}

#page {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 100%;
}

.form-control,
.form-control:focus {
  box-shadow: none;
}

.al-right {
  text-align: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
