@gray-base: #212026;
@gray-dark: #212026;
@gray: #B8B8BF;
@gray-light: #B8B8BF;
@input-color: #212026;
@input-border-focus: #6C5B7B;
@font-family-sans-serif: 'Open Sans', sans-serif;

@std-violet: #6C5B7B;
