div.mini-browser
  div.mini-browser__head
    div.mini-browser__head__buttons
      div.mini-browser__head__buttons__button.mini-browser__head__buttons__button-close
      div.mini-browser__head__buttons__button.mini-browser__head__buttons__button-minimize
      div.mini-browser__head__buttons__button.mini-browser__head__buttons__button-maximize
    div.mini-browser__head__address
  div.mini-browser__body
