footer
  div.container
    div.row
      div.six.columns
        span="Copyright © 2015 WAAANT"
      div.six.columns.al-right
        //- a(href="#")="About"
        a(href="#")="Privacy Policy"
        a(href="#")="Terms & Conditions"
