div.header
  div.container
    div.row
      div.twelve.columns
        a.header__logo(href='/')
          img.header__logo__img(src="/images/logo.png", "data-2x"="/images/logo@2x.png", width="87", height="87", alt="waaant")
      div.twelve.columns.header__caption__wrapper
        h1.header__caption="Find the best price on the market"
        h4.header__caption2="on the things you really waaant"
