div.search-block
  div.search-block__right
    input(type='button', class='btn btn-default search-block__right__btn', id='search_btn', value='Найти')
  div.search-block__left
    input(type='text', class='form-control search-block__left__input', id='search', placeholder='Название вещи')
