div.search-block(id="search_block")
  //- div.container
    //- div.search-block__title
    //-   h1.search-block__title__caption= "Любая вещь — найдется"
  div.search-block__input-wrapper
    div.container
      div.row
        div.col-md-2
        div.col-md-8
          form(action="/search/")
            div.input-group.input-group-lg.search-block__input-wrapper__input
              input(type='text', class='form-control', id='search', name="query" placeholder='Adidas x Barbour GSGNein Jacket')
              div.input-group-btn
                button(type='submit', class='btn', id="search_btn")
                  span.glyphicon.glyphicon-search
        div.col-md-2
